/* ReservationForm.css */

/* Style for the table */
table {
  width: 100%;
  border-collapse: separate;
  margin-bottom: 20px;
  border: solid black 1px;
  border-radius: 8px;
  background-color: #d9f5f1;
}

/* Style for table headers */
th {
  background-color: #d9f5f1;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-left: solid black 1px;
  border-right: solid black 1px;
}

th:first-child {
  border-left: none;
}

th:last-child {
  border-right: none;
}

/* Style for table cells */
td {
  border: solid black 1px;
  border-radius: 5px;
}

/* Style for clickable buttons */
button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 20px;
  border: none;
  background-color: white;
  font-family: "Tahoma", sans-serif;
  font-size: 16px;
}

/* Hover and focus effect for clickable buttons */
button:focus, button:hover {
  background-color: #3DCAB5;
  cursor: pointer;
  outline-color: black;
}

/* Style for selected buttons */
button.selected {
  background-color: #3DCAB5;
}

/* Style for the Reserve button */
.reserveButton {
  position: fixed;
  padding: 10px;
  background-color: #3DCAB5;
  color: black;
  border: solid black 1px;
  border-width: 1px 0px 1px 0px;
  cursor: pointer;
  font-family: "Tahoma", sans-serif;
  height: 6%;
  bottom: 10px;
  left: 0px;
}

/* Hover and focus effect for Reserve button */
.reserveButton:hover {
  background-color: #008C77;
}
